.text {
  display: flex;
  justify-content: center;
}
.restartBtn {
  display: block; /* Чтобы кнопка занимала всю ширину родителя */
  margin: 15px auto; /* Центрирование кнопки по горизонтали */
  padding: 10px 20px;
  font-size: 20px; /* Размер текста в кнопке */
  background-color: white; /* Цвет фона кнопки */
  color: black; /* Цвет текста */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.restartBtn:hover {
  background-color: #e0e0e0;
}
